.shop-item {
  width: 20vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
}

.shop-item-container img {
  width: 100%;
  height: auto;
}

.shop-item-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.shop-item-footer h1 {
  font-size: 18px;
}